<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta charset="UTF-8" />
    <title>Design Portfolio - Clinton Marrs</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #1b1b1b;
        color: #d1d1d1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: sans-serif;
        text-align: center;
      }
      a {
        color: #cb3211;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div>
      <p>My design portfolio includes confidential projects and cannot be shared publicly online.</p>
      <p>Please email me at <a href="mailto:clinton@seemarrs.com">clinton@seemarrs.com</a> to request access.</p>
    </div>
  </body>
</html>

