<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Site Moving</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: sans-serif;
        text-align: center;
      }
      a {
        color: #00bfff;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div>
      <p>I am moving hosts.<br />Please <a href="mailto:site@seemarrs.com">contact me directly</a>.</p>
    </div>
  </body>
</html>

