<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta charset="UTF-8" />
    <title>Site Moving</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #1b1b1b;
        color: #d1d1d1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: sans-serif;
        text-align: center;
      }
      a {
        color: #cb3211;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div>
      <p>My design portfolio contains confidential work not sutiable to publish on the internet.</p>
      <p>Please <a href="mailto:site@seemarrs.com">email me</a> to arrange a sharing.</p>
    </div>
  </body>
</html>

